/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--main-section-gap: 50px;
	--outer-margin: 100px;
	--card-content-padding: 25px;
	--card-elements-gap: 25px;
	--watermark-padding: 25px;
	--subheading-padding: 4px 10px;

	/* Акцентный шрифт */
	--accent-font: PressStart2P-Regular;
	--accent-heading-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
	--accent-subheading-font-size: clamp(
		0.875rem,
		0.6769rem + 0.8451vw,
		1.4375rem
	);
	--accent-font-size: 14px;

	/* Основной шрифт */
	--main-font: Inter-Variable;
	--main-font-size: 18px;
	--main-font-weight-thin: 410;
	--main-font-weight-thick: 715;
	--main-font-line-height: 22.5px;

	/* Цвета и Градиент*/
	--primary-color: #000;
	--component-bg-color: #fff;
	--text-stroke-color: #fff;
	--bg-gradient:
		repeating-linear-gradient(
			to right,
			#d3d3d3 0,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			to bottom,
			#d3d3d3 0,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);

	/* Высота шапки */
	--header-height: clamp(327px, 3.85vw + 312.56px, 368px);

	/* Сердце */
	--contour-color: #000;
	--main-body-color: red;
	--core-color: #fff;
	--sparks-color: red;
}
