/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Акцентный шрифт */
  --accent-font: PressStart2P-Regular;
  --accent-heading-font-size: 49px;
  --accent-font-size: 14px;
  
  /* Основной шрифт */
  --main-font: Inter-Variable;
  --main-font-size: 18px;
  --main-font-weight-thin: 410;
  --main-font-weight-thick: 715;
  --main-font-line-height: 21px;

  /* Цвета и Градиент*/
  --text-color: #000;
  --component-bg-color: #fff;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%)
    ;
}